<h2 mat-dialog-title>Add to Favorites</h2>
<mat-dialog-content>
  <ng-container *ngFor='let collection of conversionCollections'>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{collection.conversion.from}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-selection-list>
        <mat-list-option *ngFor="let conversion of collection.relatedConversions" (click)="conversion.isFavorited = !conversion.isFavorited" [selected]="conversion.isFavorited">
          {{conversion.to}}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <br>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="saveChanges()">Ok</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>