<div class="container">
  <div class="header">
    <mat-toolbar color="primary">
      <span><b>Convert</b><i style="font-size: 0.9em;">ificationator</i></span>
      </mat-toolbar>
      <mat-form-field class="value-input-field">
        <input matInput type="number" placeholder="Value" (ngModelChange)="changeValue($event)" [ngModel]="invalue" autofocus/>
      </mat-form-field>
  </div>
    <div class="main-content">
        <conversion-card *ngFor='let conversion of favoriteConversions'
        [from]='conversion.from'
        [to]='conversion.to'
        [formula]='conversion.formula'
        [name]='conversion.name'></conversion-card>
        <button mat-fab (click)="addToFavorites()" class="add-button"><mat-icon>add</mat-icon></button>
    </div>
</div>
