<mat-toolbar color="primary">
  <span>Convertificationator</span>
  <span class="white-space"></span>
  <span class="right-action"><button mat-icon-button (click)="addToFavorites()"><mat-icon>add</mat-icon></button></span>
</mat-toolbar>
<mat-form-field class="value-input-field">
  <input matInput type="number" placeholder="Value" (ngModelChange)="changeValue($event)" [ngModel]="invalue" autofocus/>
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<conversion-card *ngFor='let conversion of conversions'
[from]='conversion.from'
[to]='conversion.to'
[formula]='conversion.formula'
[name]='conversion.name'>